body {
  margin: 0;
  padding: 0;
  width: 100vw;
  overflow: hidden;
}

html,
body {
  -webkit-overflow-scroll: touch;
}

i {
  font-family: 'white-icon';
  font-style: normal !important;
}

.row_center {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.column_center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.row_between {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.column_between {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.row {
  display: flex;
  flex-direction: row;
}

.row_wrap {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
}

.column {
  display: flex;
  flex-direction: column;
}

.v_line {
  background: $line-color;
  width: 1;
  height: 100%;
}

.h_line {
  background: $line-color;
  height: 1;
  width: 100%;
}

@for $i from 1 to 100 {
  .mF-#{$i} {
    font-size: 1px*$i;
  }

  .mT-#{$i} {
    margin-top: 1px*$i;
  }

  .mB-#{$i} {
    margin-bottom: 1px*$i;
  }

  .mR-#{$i} {
    margin-right: 1px*$i;
  }

  .mL-#{$i} {
    margin-left: 1px*$i;
  }

  .mV-#{$i} {
    margin: 1px*$i 0;
  }

  .mH-#{$i} {
    margin: 0 1px*$i;
  }

  .pV-#{$i} {
    padding: 1px*$i 0;
  }

  .pH-#{$i} {
    padding: 0 1px*$i;
  }

  .pR-#{$i} {
    padding-right: 1px*$i;
  }

  .pT-#{$i} {
    padding-top: 1px*$i;
  }

  .pB-#{$i} {
    padding-bottom: 1px*$i;
  }

  .pL-#{$i} {
    padding-left: 1px*$i;
  }
}

.tabbar {
  position: fixed;
  bottom: 0;
  background: white;
  left: 0;
  width: 100vw;
  height: calc(90px + constant(safe-area-inset-bottom));
  height: calc(90px + env(safe-area-inset-bottom));
  padding-bottom: constant(safe-area-inset-bottom);
  padding-bottom: env(safe-area-inset-bottom);
  box-sizing: border-box;
  z-index: 1;
}

.fullPage {
  height: calc(100%);
  width: 100vw;
  padding-bottom: calc(constant(safe-area-inset-bottom));
  padding-bottom: calc(env(safe-area-inset-bottom));
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  overflow-x: hidden;
  overflow-y: auto;

  >div:first-child {
    height: 100%;
    width: 100%;
  }
}

.fullBody {
  height: 100%;
  width: 100%;
}

.page_loading_body {
  position: fixed;
  left: 0;
  top: 0;
  height: calc(#{ $height-primary});
  width: 100vw;
  background: $background-color;
  z-index: 1;
}

.c_3 {
  color: #2c313f;
}

.c_6 {
  color: #5a6688;
}

.f_500 {
  font-weight: 500;
}
