.vir_list {
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
  box-sizing: border-box;
}

.virtual-list-height {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  z-index: -1;
}

.refresh_view {
  width: 100%;

  .hint_view {
    color: #666;
    margin-top: 20px;
    font-style: 24px;
  }
}
