.vir_list {
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
    box-sizing: border-box;
}
.virtual-list-height {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    z-index: -1;
}
