.toast-notification {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 10;
}

.toast-notice-wrapper.notice-enter {
  opacity: 0.01;
  transform: scale(0);
}

.toast-notice-wrapper.notice-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: all 300ms linear;
}

.toast-notice-wrapper.notice-exit {
  opacity: 1;
  transform: scale(1);
}

.toast-notice-wrapper.notice-exit-active {
  opacity: 0.01;
  transform: scale(0);
  transition: all 300ms linear;
}

.toast-notice {
  background: rgba(0, 0, 0, 0.3);
  padding: 32px 64px;
  margin: 8px auto;
  box-shadow: 0 10px 20px 0 rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  color: #fff;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.toast-notice > span {
  margin-left: 6px;
  line-height: 100%;
}

.toast-notice > i {
  font-size: 80px;
  margin-bottom: 10px;
}

.toast-notice.info > i {
  color: #ccc;
}

.toast-notice.success > i {
  color: #52c41a;
}

.toast-notice.warning > i {
  color: #faad14;
}

.toast-notice.fail > i {
  color: #f74a53;
}

.toast-notice.loading > i {
  color: #1890ff;
  animation: rotating 0.5s linear infinite;
}

@keyframes rotating {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}
